<a href="https://colab.research.google.com/github/SriRamK345/NLP_dataset/blob/main/Fake_News_Classifier_Using_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://www.kaggle.com/c/fake-news/data

In [3]:
# ! pip install opendatasets

In [8]:
# import opendatasets as od
# od.download("https://www.kaggle.com/c/fake-news/data")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: ram7639
Your Kaggle Key: ··········
Downloading fake-news.zip to ./fake-news

100%|██████████| 46.5M/46.5M [00:01<00:00, 33.7MB/s]

Extracting archive ./fake-news/fake-news.zip to ./fake-news

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("/content/fake-news/train.csv")

In [11]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [12]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [13]:
df.shape

(20800, 5)

In [14]:
df.dropna(inplace=True)

In [16]:
X = df.drop("label", axis=1)

In [17]:
y = df["label"]

In [18]:
print(X.shape)
print(y.shape)

(18285, 4)
(18285,)

In [19]:
import tensorflow as tf

In [20]:
print(tf.__version__)

2.17.0

In [21]:
from tensorflow.keras.layers import Embedding  # For creating word embeddings (dense vector representations of words)
from tensorflow.keras.preprocessing.sequence import pad_sequences  # For padding sequences to the same length
from tensorflow.keras.models import Sequential  # For creating a sequential neural network model
from tensorflow.keras.preprocessing.text import one_hot  # For encoding text data into integer sequences using one-hot encoding
from tensorflow.keras.layers import LSTM  # For adding Long Short-Term Memory layers, used in sequence processing (like text)
from tensorflow.keras.layers import Dense  # For adding fully connected layers (dense layers) in the neural network

## Vocabulary size

In [22]:
voc_size = 5000